- content_for :body_class, "collections"

= link_to request.referer, :class => "btn btn-info btn-fixed btn-fixed-left" do
  %i.mdi.mdi-arrow-left
  Volver
%section.main-content
  .container
    .row
      .col-md-8.offset-md-2
        .page-header.main-title.align-center.big
          %h1
            Explora
            %small Barrios y Colecciones
    .row
      -@collections.each do |collection|
        =render 'collection', :collection=>collection
