- if flash[:notice]
	#notice.mt-3.alert.alert-success{:role => "alert"}
		%button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
			%span{"aria-hidden" => "true"} ×
		= flash[:notice]
.container.py-4
	.row
		.col-md-6.offset-md-3.mt-3
			.card.card-outline-primary
				.card-header.bg-primary.text-white.d-flex.align-items-center
					%i.mdi.mdi-account-circle.mdi-36px.mr-2
					Ingresa con tu cuenta de AtLocs
				.card-block.p-4
					%form.form{:method=>"post"}
						.form-group
							%label{:for => "email"} Email
							%input.form-control{:type=>"email", :name=>"email", :placeholder=>"E-mail"}
						.form-group
							%label{:for => "password"} Password
							%input.form-control{:type=>"password", :name=>"password", :placeholder=>"Contraseña"}
						%button.btn.btn-primary{:type=>"submit"}
							Ingresar
							%i.mdi.mdi-arrow-right.mdi-lg.ml-2
	.row.d-flex.justify-content-center
		.col-md-4.text-center.p-2
			%div.my-2=link_to "Crea una cuenta AtLocs", "/signup"
			%div.my-2=link_to "Olvidé mi password", "/help/password"
