<h1>¡Hay nuevos comentarios en tu reserva!</h1>
<em style= "background: #eee; padding: 5px 10px; color: #666;">
  <%= " ' #{@comment} ' " %>
</em>
<p>Te invitamos a revisarlos en el siguiente link</p>
<p><%=link_to 'Tu reserva', booking_url(@booking.code) %></p>
<br>
<hr>
<p><strong>Cristian Díaz Reyes</strong></p>
<p>Fundador-Director General</p>
<p>AtLocs.com</p>
