<h1>Tu reserva <%=@booking.code.upcase%> fue cancelada</h1>

<p>Hola <%=@user.first_name%></p>
<p>Te confirmamos que tu reserva de <%=link_to @location.title, location_path(@location)%> ha sido cancelada.</p>
<p>Lamentamos que en esta ocasión no hayamos podido cumplir con tus expectativas. Sin embargo, te invitamos a seguir visitandonos ya que contamos con nuevas locaciones cada semana.</p>
<p>Muchas gracias por confiar en AtLocs.com para la búsqueda de tus locaciones.</p>

<br>
<hr>
<p><strong>Cristian Díaz Reyes</strong></p>
<p>Fundador-Director General</p>
<p>AtLocs.com</p>