<h1>Tuvimos problemas con las fotos de tu locación.</h1>

<p>Hemos revisado tu información y lamentablemente las fotos que nos entregaste no cumplen con los estándares establecidos por AtLocs.com para su publicación en el sitio.</p>
<p>Te invitamos a revisar la información que entregaste sobre tu locación y verificar que todo este en norma</p>
<p><%=link_to @location.title, root_url + location_path(@location)%></p>
<p>Al respecto, nuestro equipo se pondrá en contacto contigo para solucionar este asunto.</p>

<br>
<hr>
<p><strong>Cristian Díaz Reyes</strong></p>
<p>Fundador-Director General</p>
<p>AtLocs.com</p>
