<h1>Tu locación ha sido aprobada</h1>

<p>Hola <%=@user.first_name%></p>
<p>Tenemos el agrado de informarte que tu locación ya se encuentra publicada en nuestra plataforma</p>
<p><%=link_to @location.title, "http://www.atlocs.com/locations/#{@location.id}"%></p>
<p>Desde hoy puedes comenzar a recibir ofertas. Comunícate con nosotros en caso de dudas o comentarios.</p> 
<p>Por otro lado, al publicar tu locación en AtLocs.com, estás aceptando los Términos y Condiciones de uso de nuestro sitio y que a continuación te adjuntamos.</p>
<p><%=link_to 'Términos y Condiciones', 'http://www.atlocs.com/terminos-y-condiciones'%></p>
<hr>
<p><strong>Cristian Díaz Reyes</strong></p>
<p>Fundador-Director General</p>
<p>AtLocs.com</p>
