<h1>Eliminar Locación</h1>

<p>El usuario <%=@user.first_name%></p>
<p>Solicita eliminar la locación <%= @location.title %></p>
<p><%=link_to "Ver Locación", edit_location_url(@location) %></p>
<p>AtLocs.com</p>
