<h1>Cambio de clave en AtLocs</h1>
<p>Haz Click en el siguiente link para actualizar tu password: </p>

<%=link_to 'Cambiar Password', 'http://www.atlocs.com/help/updatepassword/'+@code%>
<br>
<hr>
<p><strong>Cristian Díaz Reyes</strong></p>
<p>Fundador-Director General</p>
<p>AtLocs.com</p>