<h1>Eliminar Locación</h1>

<p>El usuario <%=@user.first_name%></p>
<p>Solicita eliminar la locación <%= @location.title %></p>
<p><%=link_to "Ver Locación", "http://atlocs.com/locations/#{@location.id}/edit"%></p>
<p>AtLocs.com</p>