<p>Hola <%=@user.first_name%></p>
<p><strong>Te damos la más cordial bienvenida a AtLocs</strong>, la plataforma que facilita el acceso a cientos de locaciones. Ya estas a un paso de encontrar u/o ofrecer locación ideal para todo tipo de producciones audiovisuales.
</p>
<p>
	<strong>Te recomendamos</strong>
	<ol>
		<li><strong>Publica una Locación:</strong> Recopila las imagenes que tengas de tu locación y publicala ya. <a href="http://www.atlocs.com/locations/new">Publica tu locación ahora</a></li>
		<li><strong>Reserva una Locación:</strong> Busca por palabra o categoría y encuentra tu proxima ubicación. <a href="http://www.atlocs.com/locations">Explora Locaciones</a></li>
	</ol>
</p>
<p>Nos vemos en AtLocs</p>
<br>
<hr>
<p><strong>Cristian Díaz Reyes</strong></p>
<p>Fundador-Director General</p>
<p>AtLocs.com</p>
