%section.main-content
	.container
		.row
			=render 'shared/adminmenu'
			.col-md-12
				= flash_messages
				%ul.breadcrumb
					%li.breadcrumb-item
						%a{:href => "/"} Inicio
					%li.breadcrumb-item
						Reservas
		=render 'calendar'
		.table-responsive
		- if @bookings.count>0
			%table.table
				%thead
					%tr
						-if current_user && current_user.status=="admin"
							%th Usuario
						%th N° de Reserva
						%th Fecha
						%th Titulo
						%th Detalles
						%th
				=render @bookings
		- else
			%h2
				No has hecho una reserva
			%p
				Busca en AtLocs y encuentra tu proxima locación para filmar.
			%a.btn.btn-info{:href=>"/locations"}
				Revisa locaciones
