.container
	.row{:style => "margin-top:30px;"}
		.col-md-2
		.col-md-8
			.booking-request-form
				%h3
					Solicitar Reserva para
					%strong= @location.title
				%p Selecciona una fecha de inicio y término para tu solicitud de reserva :)
				= render 'form'
		.col-md-2
