%footer
	.container
		%hr
			%ul.nav.navbar-nav.social-links
				%li
					%a{:href => "https://www.facebook.com/AtLocscom-820834398016166/", :target => "_blank"}
						%i.mdi.mdi-facebook.mdi-lg
				%li
					%a{:href => "http://twitter.com/atlocs", :target => "_blank"}
						%i.mdi.mdi-twitter.mdi-lg
				%li
					%a{:href => "http://instagram.com/atlocs", :target => "_blank"}
						%i.mdi.mdi-instagram.mdi-lg