- content_for :body_class, "home special-layout"
%section.welcome
  .welcome-slider
    %ul
      %li.slide-1
        .container
          .row
            .col-md-8.offset-md-2
              .main-title.align-center.big.light
                %h1
                  Descubre el mundo de AtLocs!
                  %small Encuentra la locación perfecta para tus filmaciones, fotografías y eventos.
      %li.slide-2
        .container
          .row
            .col-md-8.offset-md-2
              .main-title.align-center.big.light
                %h1
                  Arrienda tu locación
                  %small Inscribe tu locación  y comienza a ser parte de AtLocs.
      %li.slide-3
        .container
          .row
            .col-md-8.offset-md-2
              .main-title.align-center.big.light
                %h1
                  Planifica la filmación
                  %small AtLocs te ayuda a encontrar la locación perfecta. Reserva y asesórate por nuestro equipo de expertos.

  .find
    %nav.navbar.navbar-light
      .container.d-flex.justify-content-between
        .col-md-8.d-flex.align-items-center
          %span.navbar-text.mr-2 ¿Que estás buscando?
          .taglist
            -@tags.each do |tag|
              %button.btn.btn-primary.btn-sm{:type => "button", :onclick => "location.href = '/locations/?s=#{tag.name}';"}
                =tag.name
                %span.badge
                  =tag.taggings_count
            %button.btn.btn-secondaty.btn-sm{:type => "button"} + Tags

        %form.form-inline{:role => "search", :action => '/locations/' }
          .input-group
            %input.form-control{:placeholder => "Buscar", :type => "text", :name=>"s"}/
            %span.input-group-btn
              %button.btn.btn-primary{:type => "submit"}
                %i.mdi.mdi-magnify.mdi-lg
%section.main-content.location-list
  .container
    .row
      .col-md-8.offset-md-2
        .main-title.align-center.big
          %h1
            Encuentra tu locación ideal
            %small para cualquier tipo de producción
    .row
      -@locations.each do |location|
        =render 'locations/location', :location=>location, :description=>false
    .row.mt-3
      .col-md-6.offset-md-3
        %a.btn.btn-primary.btn-lg.btn-block{:href => "/locations"} Ver todas las locaciones

%section.main-content
  .container
    .row
      .col-md-8.offset-md-2
        .main-title.align-center.big
          %h1
            ¿Como Funciona Atlocs?
            %small Revisa todos los detalles en nuestro video
    .row
      .col-md-12
        .videoPlayer
          %iframe.videoPlayer__iframe{:allowfullscreen => "", :frameborder => "0", :width => "700", :height => "400", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/211832551", :webkitallowfullscreen => ""}

%section.main-content
  .container
    .row
      .col-md-8.offset-md-2
        .main-title.align-center.big
          %h1
            Explora por categoría
            %small Revisa nuestras Colecciones
    .row
      -@collections.each do |collection|
        =render 'collections/collection', :collection=>collection
    .row.mt-3
      .col-md-6.offset-md-3
        %a.btn.btn-primary.btn-lg.btn-block{:href => "/collections"} Ver todas las colecciones

%section.prefooter
  .container
    .row
      .col-md-12
        .main-title.align-center.big
          %h1
            Como Funciona AtLocs
            %small.px-4.py-2 Ofrecemos un espacio para poner en contacto a Productoras Audiovisuales con dueños de loacaciones
    .row.padding-top
      .col-sm-6.col-md-4.text-center
        .icon-illustration
          =image_tag("certificate.svg")
        %h4 Locaciones Certificadas
        %p Todas las locaciones publicadas en nuestra plataforma son revisadas por nuestro equipo para asegurar a las productoras un contenido confiable y de calidad a la hora de elegir su próxima locación.
      .col-sm-6.col-md-4.text-center
        .icon-illustration
          =image_tag("contact.svg")
        %h4 Seguimiento y Asesoría AtLocs
        %p
          Asesoramos y guiamos a cada usuario en la presentación y descripción de su locación. También acompañamos a ambos en el proceso de reserva y gestión de cada locación.
      .col-sm-6.col-md-4.text-center
        .icon-illustration
          =image_tag("deal.svg")
        %h4 Productoras & Locaciones
        %p
          Trabajamos con grandes productoras nacionales e internacionales para asegurar a nustros usuarios la seriedad y compromiso en caso de concretar una reserva de su locación.
