%section.main-content
	.container
		.col-md-10.col-md-offset-1
			.page-header
				%h1 
					Preguntas Frecuentes
					%br/
					%small Generales
			%ul#accordion.accordion-faq
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
							¿Qué es AtLocs.com?
					#collapseOne.panel-collapse.collapse.in
						.answer.padding
							%p AtLocs es la primera plataforma chilena en representar a varios lugares que permite que tu casa, propiedad o tu amado espacio  sean usados en proyectos audiovisuales y cinematográficos, tales como; comerciales, películas, sesiones de fotografía, teleseries, seriales u otros equivalentes.
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
							¿Cómo puedo acceder a los servicios de AtLocs.com?
					#collapseTwo.panel-collapse.collapse
						.answer.padding
							%p
								%strong 1.- Si quieres registrar tu propiedad:
							%p Ingresa a nuestra plataforma y registra tu propiedad con un simple formulario. Debes registrarte con tu nombre y dirección electrónica. Una vez que hayas cumplido con eso, te pediremos información básica de tu propiedad y podrás subir fotografías para que éstas, en caso que cumplan con los estándares de calidad de AtLocs.com queden disponibles para ser visualizada por nuestros clientes.
							%p
								%strong 2.- Si necesitas encontrar una locación:
							%p Ingresa a nuestra plataforma y regístrate en nuestra página, usando tu nombre y cuenta corporativa (debe ser comprobable) y podrás tener acceso a nuestro registro de propiedades. Así podrás buscar, reservar y arrendar aquellas que más se ajusten a tus necesidades.
				
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFifteen"}
							¿Quiénes pueden registrar propiedades?
					#collapseFifteen.panel-collapse.collapse
						.answer.padding
							%p
								Todos los dueños o arrendatarios debida y expresamente autorizados por los dueños, cuyas propiedades estén disponibles para ser usadas en proyectos cinematográficos y audiovisuales. (En este punto AtLocs estará en contacto contigo para ayudarte a la tramitación de documentos para así poner en arriendo tu espacio.)
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSixteen"}
							¿Cómo se publica una locación?
					#collapseSixteen.panel-collapse.collapse
						.answer.padding
							%p
								En nuestro sitio encontrarás la pestaña "Publica tu locación", al ingresar debes registrarte mediante  un formulario muy simple en el cual entregarás datos de la propiedad que deseas publicar.  Una vez que hayas completado el formulario recibirás un email de AtLocs donde te indicaremos que tu locación ya fue recibida por nuestro equipo. Sin embargo, dicho email no es garantía de que AtLocs proceda a la publicación, ya que previamente deben ser validados los datos e información de la propiedad, luego de lo cual procederemos a la publicación, lo que también te informaremos vía email por lo menos de 48 horas.
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeventeen"}
							¿Cuántas locaciones puedo publicar? 
					#collapseSeventeen.panel-collapse.collapse
						.answer.padding
							%p
								Puedes subir todas las que quiera, mientras seas el dueño de la propiedad o arrendatario con autorización expresa del dueño.
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEighteen"}
							¿Cuál es el costo del servicio de AtLocs?
					#collapseEighteen.panel-collapse.collapse
						.answer.padding
							%p
								El valor de los servicios prestados por AtLocs, asciende a un  15% del valor que tú establezcas para el arriendo de tu propiedad.
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseNineteen"}
							¿Quiénes pueden arrendar las propiedades?
					#collapseNineteen.panel-collapse.collapse
						.answer.padding
							%p
								Nuestros clientes son productores, directores y profesionales del área cinematográfica y audiovisual, tanto de Chile como del extranjero y cualquier empresa que necesite de nuestros servicios.

				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
							¿Puedo subir yo mis propias fotos? 
					#collapseThree.panel-collapse.collapse
						.answer.padding
							%p
								Puedes subir tus propias fotos, siempre y cuando estas cumplan con los estándares mínimos que tiene AtLocs, los cuales el usuario se obliga a acatar por el solo hecho de enviar las fotos que se proponen subir. ¿Hay alguna limitación con respecto a la publicación de mis fotos? No para nada.
							%p	
								Las fotos permiten mostrar de que la mejor manera tu propiedad y el espacio disponible. En este sentido, no hay límite en la cantidad de fotos que puedas enviar o proponer para subir al sitio. Queremos que nuestros clientes tengan la mejor impresión de tu propiedad. 
							%p
								La única limitación que tiene las fotos que envías o proponer a AtLocs para su publicación, es el cumplimiento de los términos y condiciones del sitio, en especial las disposiciones relativas a los derechos de imagen y de autor de las fotos.  Pasando por los puntos anteriores AtLocs estará en contacto contigo a la brevedad para publicar tu locación.

				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
							¿AtLocs puede tomar las fotos de mi propiedad?
					#collapseFour.panel-collapse.collapse
						.answer.padding
							%p
								AtLocs ofrece un servicio especializado de fotografía a quienes lo requieran expresamente. En media hora tomamos las mejores fotos de tu propiedad en donde nos pondremos en contacto a la brevedad con usted para coordinar todo de la mejor manera.
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive"}
							¿Cómo lo hago si estoy interesado en arrendar mi propiedad, pero no tengo tiempo para coordinarlo con los eventuales arrendatarios?
					#collapseFive.panel-collapse.collapse
						.answer.padding
							%p
								Una vez que inscribes tu propiedad, nos indicas cuál es tu disponibilidad. De acuerdo a eso, nosotros te indicaremos los pasos a seguir y, en caso que lo requieras, te ayudaremos a que tu propiedad sea arrendada y manejada de la mejor manera posible.
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix"}
							¿Cuáles son las ventajas de utilizar AtLocs versus arrendar directamente mi propiedad?
					#collapseSix.panel-collapse.collapse
						.answer.padding
							%p
								Con AtLocs llega directamente a quienes están buscando propiedades para proyectos cinematográficos y audiovisuales, es decir llegas a tu público objetivo sin tener que utilizar mayores recursos en publicidad. Nuestros clientes que desean arrendar una propiedad deben estar previamente registrados en nuestra plataforma lo que te ofrece un mayor control respecto de quienes reservan o arriendan de tu propiedad.
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeven"}
							¿Qué hago si ya reservaron mi propiedad y no puedo estar el día de la grabación? 
					#collapseSeven.panel-collapse.collapse
						.answer.padding
							%p
								Si no puedes estar el día que la agencia, productora, canal de televisión o arrendatario haya arrendado tu propiedad para realizar la grabación, AtLocs te ofrece el servicio de representación para la entrega y restitución de tu propiedad, lo cual no implica que AtLocs asuma responsabilidad alguna por eventuales perjuicios.
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEight"}
							¿Cómo tramitar los pagos AtLocs?
					#collapseEight.panel-collapse.collapse
						.answer.padding
							%p
								Al momento que un cliente desee efectuar una reserva de alguna de las propiedades publicadas, deberá pagar a AtLocs un porcentaje del 15% sobre el total. 
							%p
								Para realizar una reserva es obligatorio realizar el pago, bajo el sistema y condiciones  establecidos por AtLocs.
							%p
								La solicitud de reserva queda confirmada cuando nuestro cliente la acepta la solicitud de arriendo. 
							%p
								Una vez confirmado el arriendo de la locación, AtLocs te cobrará el 15% total de valor de la reserva, sin perjuicio del saldo de precio restante.

				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseNine"}
							¿Cuánto tiempo permanecerá mi locación en la plataforma de AtLocs? 
					#collapseNine.panel-collapse.collapse
						.answer.padding
							%p
								Tu locación permanecerá en línea por un periodo de un año, salvo que quieras darla de baja antes, para lo cual deberás enviar tu requerimiento expreso vía email.
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTen"}
							¿Qué pasa si me arrepiento de publicar una locación y quiero borrar mis datos de AtLocs?
					#collapseTen.panel-collapse.collapse
						.answer.padding
							%p
								Simplemente debes escribirnos un email a nuestro sitio de información, solicitando tu salida de la plataforma. Sin embargo, dicho arrepentimiento solo procederá respecto de tus locaciones que no hayan sido reservadas por alguno de nuestros clientes.
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEleven"}
							¿Qué pasa si no puedo ponerme en contacto con él o la responsable de la producción?
					#collapseEleven.panel-collapse.collapse
						.answer.padding
							%p
								AtLocs cuenta con varias maneras para que puedan comunicarse nuestros clientes, ya sea, por chat, email, mensaje de texto y teléfono. Sin embargo, AtLocs actúa como facilitador de toda coordinación y gestión entre las partes, no siendo responsable por la actuación de éstos.
							%p
								De todos modos, una vez que se realiza una reserva, sin que se cancele o modifique de conformidad a los términos y condiciones de AtLocs,  el pago se efectúa igualmente aunque no se haya trabajado o utilizado la propiedad el día o las horas pactadas.
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwelve"}
							¿Qué uso se le dará a la información que doy sobre mi propiedad? 
					#collapseTwelve.panel-collapse.collapse
						.answer.padding
							%p
								El uso que AtLocs dará a la información, datos o fotografías que comuniques o pongas a disposición de nuestro sitio, es exclusivamente para publicitar el arriendo de tu locación en producciones audiovisuales, cinematográficas o para otros eventos equivalentes.
							%p
								Si alguno de los clientes requiere su propiedad para otro servicio, nuestra agencia se podrá en contacto con el propietario o arrendatario de la locación. 
				

		.col-md-10.col-md-offset-1
			.page-header
				%h1 
					Preguntas Frecuentes 
					%br/
					%small Sobre reserva de locaciones en  AtLocs
			%ul#accordion.accordion-clear
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThirteen"}
							¿Puedo modificar o cancelar una reserva confirmada?
					#collapseThirteen.panel-collapse.collapse.in
						.answer.padding
							%p
								Puedes cancelar la reserva, obteniendo el reembolso del 100% del pago que hubieres efectuado, siempre y cuando hayas notificado tu cancelación en un plazo no menor a  las 48 horas previas a la fecha de inicio de la reserva de la locación. Si la cancelación la realizas dentro de las 48 horas previas a la fecha de inicio de la reserva, sólo se te devuelve un 60% de lo cancelado. 
							%p
								Cualquier solicitud de cancelación en un plazo menor a las 48 horas previas a la fecha de inicio de la locación no será aceptada y, por lo tanto, no procederá devolución alguna. 
				%li.item
					%h4.question
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFourteen"}
							¿Qué pasa si no puedo ponerme en contacto con el dueño de la locación? 
					#collapseFourteen.panel-collapse.collapse
						.answer.padding
							%p
								AtLocs cuenta con un mecanismo especial para tal efecto, mediante un chat en donde tendrás contacto directo con los dueños de la locación. De esta forma, podrás complementar la información que se ha publicado y realizar las preguntas que estimes pertinentes para un mayor control de la locación.
		


				


								