%section.main-content
	.container
		.col-md-10.offset-md-1
			.page-header
				%h1 
					Términos y Condiciones
					%br/
					%small Aplicables al momento de subir las fotos y videos
			

			%p
				Los usuarios que, a cualquier título, promocionen u oferten su locación, por el solo hecho de subir o colocar fotografías o videos en su portafolio manifiestan ser autores exclusivos de las mismas y estar en pleno ejercicio de los derechos de reproducción, distribución, comunicación pública, transformación, y puesta a disposición interactiva, para explotarlas en todo el mundo y por tiempo indefinido.
			%p
				Los usuarios por el solo hecho de enviar o subir fotografías o videos al sitio, autorizan de manera voluntaria y por tiempo ilimitado AtLocs,  para su exhibición digital en el sitio u otros soportes o plataformas que sean parte de AtLocs.com
			
			%h4 ¿Es necesario aceptar los términos y condiciones de uso del sitio?
			%p
				Quienes utilicen y contraten algunos de los servicios ofrecidos por Atlocs.com, lo hacen, necesariamente, con el compromiso de que han leído, comprendido y aceptado los términos y condiciones de uso del sitio.
			
			%h4 ¿Puedo promocionar mi locación por otros medios distintos de AtLocs? 
			%p
				Los usuarios que utilicen los servicios de AtLocs, por el solo hecho de promocionar sus locaciones, conocen y aceptan que les está terminantemente prohibido realizar cualquier otro tipo de promoción comercial de su locación, a menos que cuente con la autorización expresa y por escrito de Atlocs.com.
				
			%h4 ¿Qué pasa si un tercero accede a los datos de mi cuenta en AtLocs?
			%p
				Los usuarios son los únicos y exclusivos responsables de las actividades que tengan lugar en relación con su cuenta y de mantener la confidencialidad de sus datos y la contraseña de su cuenta. 
			%p
				Los usuarios aceptan y reconocen que AtLocs podrá finalizar su cuenta en cualquier momento, sin necesidad de justificarlo y sin que ello le genere responsabilidad de ningún tipo.
				
			%h4 ¿Pueden acceder y utilizar los servicios de AtLocs los menores de edad?
			%p
				Solo pueden acceder o utilizar el sitio, los mayores de 18 años o más, que tengan poder y autoridad suficiente para asumir y aceptar los términos y condiciones de AtLocs. 

				
			%h4 ¿Por el hecho de publicar o utilizar el sitio, obtengo algún derecho adquirido respecto de la información o datos que contiene AtLocs?
			%p
				No. Los usuarios y titulares de las locaciones aceptan que el sitio y la información en él contenida, puede modificarse, actualizarse, interrumpirse, suspenderse o eliminarse en cualquier momento sin previo aviso y sin asumir por parte de AtLocs ninguna responsabilidad.
				
			%h4 ¿Existe alguna garantía respecto de la veracidad de la información que nuestros clientes proporcionan?
			%p
				La información de las locaciones que se incluyen en el sitio, ha sido proporcionada por los titulares de éstas, pudiendo existir errores u omisiones de los cuales Atlocs.com no se puede responsabilizar, ya que los datos de los lugares publicados son de completa y absoluta responsabilidad de quien pública. Sin perjuicio de ello, con el fin de poder darle el servicio lo más completo y seguro posible hemos implementado un sistema de solicitud de información y chat mediante el cual el titular de la locación y quien esté interesado en arredrarla pueden intercambiar información respecto de la propiedad.
			%p
				Atlocs.com no otorga garantías ni promesas sobre la calidad, precisión o fiabilidad de la locación, su seguridad, contenido o finalidad, por consiguiente, no es responsable de las pérdidas o daños que puedan surgirle a quien contrata una locación ni al propietario o titular de ésta. 
				
			%h4 ¿Qué ocurre si quien arrienda una locación o el titular de ésta sufren algún daño o perjuicio durante la grabación o uso de la locación? 
			%p
				100% aseguradas, ya que las producciones o quien reserve tu locación se requerirá la documentación del seguro proporcionado o certificados de aseguradora en donde ellos como productoras o la empresa que requiera este servicio se haga responsable de cualquier daño que se produzca en el Inmueble, siempre que éste sea consecuencia directa de la actividad desarrollada por la empresa requerida. Los certificados serán recogidos por AtLocs y  entregados a los propietarios de la vivienda reservada.
			%p
				Quien publicita o contrata una locación por medio de Atlocs.com, acepta todos los riesgos, inconsistencias o peligros a los que pudiera enfrentarse o debieran soportar en la locación, entendiendo que ello escapa del ámbito de control de Atlocs.com, renunciando, desde ya y por el solo hecho de utilizar el los servicios de Atlocs.com, a toda demanda, reclamación o denuncia de cualquier índole en contra de Atlocs.com. %p
				Los usuarios y titulares de una locación aceptan compensar, defender y eximir de responsabilidad a Atlocs.com de cualquier reclamación o demanda realizada por terceros que surja de o en relación con la infracción que cometan a los términos y condiciones del sitio o al incumplimiento de las disipaciones de propiedad intelectual o derechos de imagen.

			%h3 Políticas de privacidad y tratamiento de datos que incluya el manejo del Chat por parte de AtLocs. 
			
			%p
				Los usuarios, los titulares de las locaciones y quienes las contraten por medio de AtLocs, declaran que todos los datos de carácter personal que envían o informa a AtLocs son verídicos y que tiene sobre ellos plena disponibilidad.
			
			%p
				Asimismo, autorizan expresamente a AtLocs, conforme al artículo 4 de la ley 19.628 de protección de la vida privada, a registrar sus datos personales en los sistemas y procesos necesarios para prestar los servicios ofrecidos.
			
			%p
				La autorización incluye el tratar y registrar los antecedentes personales de nuestros clientes, los datos de su cuenta bancaria y/o su tarjeta de crédito con el fin de gestionar las reservas de locaciones y los pagos de comisiones correspondientes.
			
			%p
				Dentro de sus servicios, AtLocs proporcionará a sus clientes un chat mediante el cual el titular de la locación y quien esté interesado en contratarla pueden intercambiar información y datos de la propiedad el cual se encontrara bajo el tratamiento y registro de AtLocs que podrá acceder a dicha comunicación. 
			
			%p
				Nuestros clientes podrán siempre complementar o rectificar sus datos personales en caso de ser estos inexactos o incompletos, pudiendo incluso cancelarlos, siempre y cuando ello no se oponga a los términos y condiciones del sitio que han aceptado.
			
			%p
				Todo usuario podrá oponerse al tratamiento sus datos personales para fines específicos, siempre y cuando ello sea manifestado de manera expresa y clara, indicando nombre completo, cédula nacional de identidad la cual deberá acompañar en versión digitalizada, dirección del correo electrónico o dirección física y algún número telefónico de contacto.
			
			%p
				En un plazo máximo de 1 día hábil contado a partir de la fecha de recepción de su solicitud de oposición, le daremos contestación sobre la procedencia de la misma, por medio de correo electrónico.
			
			%p
				En lo que respecta al uso de imágenes en las fotografías, para el caso de que se use la imagen de otras personas en la composición de las fotografías de la locación, se entenderá que el titular de la locación, cuenta con el consentimiento de la persona que aparece en la imagen para su reproducción y publicación.
			
			%p
				En ningún caso está permitido a los usuarios suministrar datos o información personal de terceras personas distintas del titular de la locación o usuarios.
			
			%p
				Incluir sanciones por no respetar la comisión y realizar operaciones por fuera de AtLocs.  
			
			%p
				Los titulares de una locación que se publicita y promociona en AtLocs, declaran y se comprometen a que, por mero hecho de utilizar el sitio, asumen el compromiso formal de pagar a AtLocs el 15% del monto del arriendo de la locación, a título de comisión.
			
			%p
				Por el mero hecho de publicitar o promocionar su locación los titulares de éstas conocen y aceptan que, en caso de no verificarse el pago de la comisión correspondiente, AtLocs queda en libertad de acción para ejercer las acciones de cobranza que estime conveniente, de acuerdo a lo establecido en la ley y que puede quitar o corregir cualquier contenido o imagen en cualquier momento si lo consideran necesario.
			
			%p
				Al suscribir los términos y condiciones del sitio, en beneficio de los demás clientes de AtLocs y como justa remuneración al servicio prestado, los titulares de las locaciones autorizan expresamente a AtLocs a realizar las gestiones judiciales y extrajudiciales que fueran procedentes con el fin de obtener el pago íntegro del dinero que le corresponde, incluido el informar al boletín comercial de la Cámara de Comercio de Santiago o alguna institución equivalente, acerca del cumplimiento o incumplimiento de la obligación de pago contenida en el presente compromiso, entregando nombre, Rut y monto adeudado. 